baseURL = "https://blog.ethswarm.org/"
contentDir = "content"
defaultContentLanguage = "en"
enableInlineShortcodes = true
languageCode = "en-us"
theme = "swarm-blog"
title = "Swarm Blog"
[languages.en]
contentDir = "content"
title = "Swarm News Blog"
weight = 5
[languages.fds]
contentDir = "content/fds"
title = "Fair Data Society Blog"
weight = 1
[languages.zh]
contentDir = "content/zh"
title = "Swarm Foundation Blog"
weight = 1
[languages.foundation]
contentDir = "content/foundation"
title = "Swarm Foundation Blog"
weight = 4
[languages.hive]
contentDir = "content/hive"
title = "Swarm Hive Blog"
weight = 3
[languages.wam]
contentDir = "content/wam"
title = "We Are Millions Blog"
weight = 2
[outputs]
home = ["HTML", "JSON", "RSS"]
section = ["HTML"]
[permalinks]
categories = "/c/:title"
posts = ":year/:slug/"
[related]
includeNewer = true
threshold = 80
toLower = true
[[related.indices]]
name = "categories"
weight = 10
[[related.indices]]
name = "date"
weight = 40
[taxonomies]
category = "categories"
[markup.goldmark.renderer]
unsafe = true
