<div class="relative hidden sm:block">
  {{ with .Params.banner }}
    <img
      src="{{ . | relURL }}"
      alt=""
      class="aspect-video w-full rounded-[4px] object-cover"
    />
  {{ else }}
    <img
      src="/default.png"
      alt=""
      class="aspect-video w-full rounded-[4px] object-cover"
    />
  {{ end }}


  <div
    class="gap-7.5 absolute bottom-0 left-0 right-0 grid grid-cols-1 sm:grid-cols-12"
  >
    <div
      class="mx-7.5 mb-7.5 p-7.5 col-span-8 max-w-xl rounded-[4px] bg-white md:col-span-7 lg:col-span-6"
    >
      <a href="/{{ substr .RelPermalink 1 }}" class="group">
        <h2
          class="line-clamp-3 text-3xl font-bold leading-[1.25] tracking-[-0.02em] text-gray-900 group-hover:underline lg:text-[32px]"
        >
          {{ .Title }}
        </h2>
        <div class="mt-4">
          <p class="line-clamp-3 text-gray-500 lg:text-lg lg:leading-[26px]">
            {{ .Description }}
          </p>
        </div>
      </a>
      <div class="mt-6 flex items-center space-x-3 text-xs text-gray-500">
        <span>{{ .Date.Format "Jan 2" }}</span>

        {{ partial "partials/tag.html" . }}

        {{ if isset .Params "categories" }}
          {{ $category := index (.Param "categories") 0 }}

          {{ partial "partials/category.html" $category }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
