<div class="hidden sm:col-span-12 sm:block lg:col-span-6">
  <a href="/{{ substr .RelPermalink 1 }}" class="group">
    {{ with .Params.banner }}
      <img
        src="{{ . | relURL }}"
        alt=""
        class="aspect-video w-full rounded-[4px] object-cover"
      />
    {{ else }}
      <img
        src="/default.png"
        alt=""
        class="aspect-video w-full rounded-[4px] object-cover"
      />
    {{ end }}
    <h3
      class="mt-5 line-clamp-2 text-[32px] font-bold leading-[1.25] tracking-[-0.02em] group-hover:underline"
    >
      {{ .Title }}
    </h3>
    <div class="mr-16 mt-3 text-lg leading-[26px] text-gray-500">
      <p class="line-clamp-3">{{ .Description }}</p>
    </div>
  </a>
  <div class="mt-4 flex items-center space-x-3 text-xs text-gray-500">
    <span>{{ .Date.Format "Jan 2" }}</span>

    {{ partial "partials/tag.html" . }}

    {{ if isset .Params "categories" }}
      {{ $category := index (.Param "categories") 0 }}

      {{ partial "partials/category.html" $category }}
    {{ end }}
  </div>
</div>
