<footer class="bg-swarm-gray py-7.5 sm:py-22">
  <div class="mx-4 sm:mx-6">
    <div class="gap-x-7.5 mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-12">
      <div class="sm:col-span-12 md:col-span-3">
        <span><img src="/swarm_logo.svg" class="h-8" /></span>
        <div class="max-w-sm mt-8 text-xs text-gray-500">
          <p>
            Swarm provides censorship resistant storage and communication
            infrastructure for a sovereign digital society.
          </p>
        </div>
      </div>
      <div class="hidden md:col-span-1 md:block lg:col-span-3"></div>
      <div class="mt-10 sm:col-span-12 sm:mt-0 md:col-span-4 lg:col-span-3">
        <ul class="space-y-6 text-sm font-medium leading-[18px] text-gray-500">
          <li>
            <a
              href="#"
              class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m7.86 16 6.86-4.01v-8L7.87 0 1 4l6.87 3.99V16Z"
                  fill="currentColor"
                />
              </svg>

              <span>Start your blog on Swarm</span>
            </a>
          </li>
          <li>
            <div class="">
              <button
                x-on:click="showModal = true; $nextTick(() => $refs.input.focus());"
                class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
              >
                <svg
                  class="flex-shrink-0 w-4 h-4"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#a)" fill="currentColor">
                    <path
                      d="M8 11.66c-.2 0-.3 0-.5-.1L0 7.36v8.3c0 .6.4 1 1 1h14c.6 0 1-.4 1-1v-8.3l-7.5 4.2c-.2.1-.3.1-.5.1Z"
                    />
                    <path
                      d="m8 9.56 6-3.4v-4.5c0-.6-.4-1-1-1H3c-.6 0-1 .4-1 1v4.5l6 3.4Z"
                    />
                  </g>
                  <defs>
                    <clipPath id="a">
                      <path fill="#fff" d="M0 .66h16v16H0z" />
                    </clipPath>
                  </defs>
                </svg>
                <span>Subscribe to newsletter</span>
              </button>
            </div>
          </li>
          <li>
            <a
              href="https://www.ethswarm.org/"
              class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#a)">
                  <path
                    d="M14 16.66c.6 0 1-.4 1-1v-9c0-.3-.1-.6-.4-.8l-6-5c-.4-.3-.9-.3-1.3 0l-6 5c-.2.2-.3.5-.3.8v9c0 .6.4 1 1 1h4v-5h4v5h4Z"
                    fill="currentColor"
                  />
                </g>
                <defs>
                  <clipPath id="a">
                    <path fill="#fff" d="M0 .66h16v16H0z" />
                  </clipPath>
                </defs>
              </svg>
              <span>Visit website</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-10 sm:col-span-12 sm:mt-0 md:col-span-2 lg:col-span-1">
        <ul class="space-y-6 text-sm font-medium leading-[18px] text-gray-500">
          <li>
            <a
              href="https://discord.ethswarm.org/"
              target="_blank"
              rel="noreferrer"
              class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.22 6.71a.9.9 0 0 0 0 1.78.85.85 0 0 0 .81-.89.85.85 0 0 0-.81-.89Zm2.92 0a.9.9 0 1 0 .81.89.85.85 0 0 0-.81-.89Z"
                  fill="currentColor"
                />
                <path
                  d="M13.03 0H2.3A1.64 1.64 0 0 0 .67 1.65v10.82A1.64 1.64 0 0 0 2.3 14.1h9.07l-.43-1.48 1.03.96.97.89L14.67 16V1.65A1.65 1.65 0 0 0 13.03 0Zm-3.1 10.45-.52-.65c.58-.14 1.1-.47 1.45-.95-.29.19-.6.35-.92.47a5.6 5.6 0 0 1-4.4 0 4.56 4.56 0 0 1-.92-.48c.34.47.84.8 1.4.94l-.53.67a2.9 2.9 0 0 1-2.44-1.22c.02-1.62.42-3.21 1.15-4.66.64-.5 1.43-.8 2.25-.84l.08.1a5.4 5.4 0 0 0-2.11 1.04s.17-.1.47-.23a6 6 0 0 1 1.95-.52 6.52 6.52 0 0 1 4.03.75 5.32 5.32 0 0 0-2-1.01L9 3.73c.81.04 1.6.33 2.24.84a10.71 10.71 0 0 1 1.16 4.66 2.92 2.92 0 0 1-2.45 1.22Z"
                  fill="currentColor"
                />
              </svg>
              <span>Discord</span>
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/ethswarm"
              target="_blank"
              rel="noreferrer"
              class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 3.53a6 6 0 0 1-1.87.54c.67-.4 1.2-1.07 1.47-1.8-.67.4-1.33.66-2.07.8A3.23 3.23 0 0 0 11.13 2a3.27 3.27 0 0 0-3.26 3.27c0 .26 0 .53.06.73a9.2 9.2 0 0 1-6.8-3.47A3 3 0 0 0 .67 4.2c0 1.13.6 2.13 1.46 2.73-.53 0-1.06-.13-1.46-.4v.07c0 1.6 1.13 2.93 2.6 3.2-.27.07-.54.13-.87.13-.2 0-.4 0-.6-.06a3.16 3.16 0 0 0 3.07 2.26 6.67 6.67 0 0 1-4.07 1.4c-.27 0-.53 0-.8-.06a9.33 9.33 0 0 0 5 1.46c6.07 0 9.33-5 9.33-9.33v-.4A7.9 7.9 0 0 0 16 3.53Z"
                  fill="currentColor"
                />
              </svg>
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCu6ywn9MTqdREuE6xuRkskA/videos"
              target="_blank"
              rel="noreferrer"
              class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.87 4.8s-.14-1.13-.67-1.6c-.6-.67-1.27-.67-1.6-.67C11.33 2.4 8 2.4 8 2.4s-3.33 0-5.6.13c-.33.07-1 .07-1.6.67-.47.47-.67 1.6-.67 1.6S0 6.07 0 7.4v1.2c0 1.27.13 2.6.13 2.6s.14 1.13.67 1.6c.6.67 1.4.6 1.73.67C3.8 13.6 8 13.6 8 13.6s3.33 0 5.6-.2c.33-.07 1-.07 1.6-.67.47-.46.67-1.6.67-1.6s.13-1.26.13-2.6v-1.2c0-1.26-.13-2.53-.13-2.53Zm-9.54 5.27V5.6l4.34 2.27-4.34 2.2Z"
                  fill="currentColor"
                />
              </svg>
              <span>YouTube</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-6 sm:col-span-12 sm:mt-0 md:col-span-2 lg:col-span-2">
        <ul class="space-y-6 text-sm font-medium leading-[18px] text-gray-500">
          <li>
            <a
              href="https://github.com/ethersphere"
              target="_blank"
              rel="noreferrer"
              class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#a)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 .2c-4.4 0-8 3.6-8 8a8 8 0 0 0 5.47 7.6c.4.07.53-.2.53-.4v-1.33C3.8 14.53 3.33 13 3.33 13c-.33-.93-.86-1.2-.86-1.2-.8-.47 0-.47 0-.47.8.07 1.2.8 1.2.8.73 1.2 1.86.87 2.33.67.07-.53.27-.87.53-1.07-1.8-.2-3.66-.86-3.66-3.93 0-.87.33-1.6.8-2.13 0-.27-.34-1.07.13-2.14 0 0 .67-.2 2.2.8.67-.2 1.33-.26 2-.26.67 0 1.33.06 2 .26 1.53-1.06 2.2-.8 2.2-.8.47 1.14.13 1.94.07 2.14.53.53.8 1.26.8 2.13 0 3.07-1.87 3.73-3.67 3.93a2 2 0 0 1 .53 1.47v2.2c0 .2.14.47.54.4a8 8 0 0 0 5.46-7.6C16 3.8 12.4.2 8 .2Z"
                    fill="currentColor"
                  />
                </g>
                <defs>
                  <clipPath id="a">
                    <path fill="#fff" d="M0 0h16v16H0z" />
                  </clipPath>
                </defs>
              </svg>
              <span>Github</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.reddit.com/r/ethswarm/"
              target="_blank"
              rel="noreferrer"
              class="flex items-center space-x-2 text-gray-500 duration-100 hover:text-gray-900"
            >
              <svg
                class="flex-shrink-0 w-4 h-4"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 7.87c0-1.07-.87-1.94-1.93-1.94-.47 0-.87.14-1.2.4A8.9 8.9 0 0 0 8.6 5.07l.8-2.6 2.27.53a1.6 1.6 0 1 0 1.6-1.73c-.6 0-1.14.33-1.4.86l-2.67-.6a.45.45 0 0 0-.53.27l-1 3.27a9.02 9.02 0 0 0-4.54 1.26c-.33-.26-.73-.4-1.2-.4C.87 5.93 0 6.8 0 7.87c0 .66.33 1.26.8 1.6v.46c0 1.34.8 2.54 2.2 3.47a9.32 9.32 0 0 0 5 1.33c1.87 0 3.67-.46 5-1.33 1.4-.93 2.2-2.13 2.2-3.47v-.4c.47-.4.8-1 .8-1.66Zm-2.67-5.74c.4 0 .74.34.74.74 0 .4-.34.73-.74.73a.74.74 0 0 1-.73-.73c0-.4.33-.74.73-.74Zm-8.8 6.94c0-.6.54-1.07 1.07-1.07.6 0 1.07.53 1.07 1.07a1.1 1.1 0 0 1-1.07 1.06 1.1 1.1 0 0 1-1.07-1.06Zm6.14 3.13c-.54.53-1.4.8-2.6.8-1.2 0-2.07-.27-2.6-.8-.2-.2-.2-.47 0-.6.2-.2.46-.2.6 0 .4.4 1.06.6 2 .6.93 0 1.6-.2 2-.6.2-.2.46-.2.6 0 .13.2.13.47 0 .6Zm-.27-2.07c-.6 0-1.13-.46-1.13-1.06 0-.6.53-1.07 1.13-1.07.6 0 1.07.53 1.07 1.07a1.1 1.1 0 0 1-1.07 1.06Z"
                  fill="currentColor"
                />
              </svg>
              <span>Reddit</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
