<div class="mx-4 sm:mx-6">
  <div class="mx-auto max-w-7xl">
    <div class="py-7.5 flex items-center justify-between">
      <span>
        <a href="/"><img src="/swarm_news.svg" class="h-8" /></a>
      </span>
      <div class="flex items-center">
        <a
          href="/search"
          class="text-sm font-medium text-gray-500 hover:text-gray-900"
        >
          <svg
            class="w-6 h-6"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m20.64 18.9-4.28-4.28a7.4 7.4 0 1 0-1.74 1.74l4.28 4.28a1.23 1.23 0 1 0 1.74-1.74ZM4.63 10.36a5.73 5.73 0 1 1 11.46 0 5.73 5.73 0 0 1-11.46 0Z"
              fill="currentColor"
            />
          </svg>
        </a>
        <span class="w-4"></span>
        <a
          href="https://www.ethswarm.org/"
          target="_blank"
          rel="noreferrer"
          class="hover:text-orange sm:hover:border-orange text-sm font-medium leading-none text-gray-500 duration-100 sm:rounded-full sm:border-[1.5px] sm:border-gray-500 sm:px-3 sm:py-2"
        >
          <span class="hidden sm:inline">ethswarm.org</span>
          <svg
            class="w-6 h-6 sm:hidden"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 3 2.93 9.86V21h6v-6h5.14v6h6V9.86L11.5 3Z"
              stroke="currentColor"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
