{{ $lang := .Site.Language.Lang }}


<div
  class="{{ partial "partials/color.html" . }} mt-7.5 p-8 text-sm leading-loose md:mt-16 rounded-[4px]"
>
  {{ if (eq $lang "foundation") }}
    Follow Swarm community news on
    <a
      class="font-semibold underline"
      href="https://twitter.com/ethswarm"
      target="_blank"
      rel="noreferrer"
      >X / Twitter</a
    >. <br />
    Discussions about Swarm can be found on
    <a
      class="font-semibold underline"
      href="https://www.reddit.com/r/ethswarm/"
      target="_blank"
      rel="noreferrer"
      >Reddit</a
    >. <br />
    All tech support and other channels have moved to
    <a
      class="font-semibold underline"
      href="https://discord.ethswarm.org/"
      target="_blank"
      rel="noreferrer"
      >Discord</a
    >! <br />
    Please feel free to reach out via
    <a class="font-semibold underline" href="mailto:info@ethswarm.org"
      >info@ethswarm.org</a
    >
    <br />
    Join the newsletter!
    <button
      x-on:click="showModal = true; $nextTick(() => $refs.input.focus());"
      class="font-semibold underline"
    >
      Subscribe here</button
    >.
  {{ end }}

  {{ if (eq $lang "hive") }}
    Follow Swarm Hive community news on
    <a
      class="font-semibold underline"
      href="https://twitter.com/ethswarmhive"
      target="_blank"
      rel="noreferrer"
      >X / Twitter</a
    >. <br />
    Discussions about Swarm can be found on
    <a
      class="font-semibold underline"
      href="https://www.reddit.com/r/ethswarm/"
      target="_blank"
      rel="noreferrer"
      >Reddit</a
    >. <br />
    All tech support and other channels have moved to
    <a
      class="font-semibold underline"
      href="https://discord.ethswarm.org/"
      target="_blank"
      rel="noreferrer"
      >Discord</a
    >! <br />
    Please feel free to reach out via
    <a class="font-semibold underline" href="mailto:info@ethswarm.org"
      >info@ethswarm.org</a
    >
    <br />
    Join the newsletter!
    <button
      x-on:click="showModal = true; $nextTick(() => $refs.input.focus());"
      class="font-semibold underline"
    >
      Subscribe here</button
    >.
  {{ end }}

  {{ if (eq $lang "wam") }}
    Follow WAM community news on
    <a
      class="font-semibold underline"
      href="https://twitter.com/WAMillions"
      target="_blank"
      rel="noreferrer"
      >X / Twitter</a
    >. <br />
    Discussions about Swarm can be found on
    <a
      class="font-semibold underline"
      href="https://www.reddit.com/r/ethswarm/"
      target="_blank"
      rel="noreferrer"
      >Reddit</a
    >. <br />
    All tech support and other channels have moved to
    <a
      class="font-semibold underline"
      href="https://discord.ethswarm.org/"
      target="_blank"
      rel="noreferrer"
      >Discord</a
    >! <br />
    Please feel free to reach out via
    <a class="font-semibold underline" href="mailto:info@ethswarm.org"
      >info@ethswarm.org</a
    >
    <br />
    Join the newsletter!
    <button
      x-on:click="showModal = true; $nextTick(() => $refs.input.focus());"
      class="font-semibold underline"
    >
      Subscribe here</button
    >.
  {{ end }}

  {{ if (eq $lang "fds") }}
    Follow FDS community news on
    <a
      class="font-semibold underline"
      href="https://twitter.com/fairdatasociety"
      target="_blank"
      rel="noreferrer"
      >X / Twitter</a
    >. <br />
    Discussions about Swarm can be found on
    <a
      class="font-semibold underline"
      href="https://www.reddit.com/r/ethswarm/"
      target="_blank"
      rel="noreferrer"
      >Reddit</a
    >. <br />
    All tech support and other channels have moved to
    <a
      class="font-semibold underline"
      href="https://discord.ethswarm.org/"
      target="_blank"
      rel="noreferrer"
      >Discord</a
    >! <br />
    Please feel free to reach out via
    <a class="font-semibold underline" href="mailto:info@ethswarm.org"
      >info@ethswarm.org</a
    >
    <br />
    Join the newsletter!
    <button
      x-on:click="showModal = true; $nextTick(() => $refs.input.focus());"
      class="font-semibold underline"
    >
      Subscribe here</button
    >.
  {{ end }}

  {{ if (eq $lang "zh") }}
    Follow Swarm community news on
    <a
      class="font-semibold underline"
      href="https://twitter.com/ethswarm"
      target="_blank"
      rel="noreferrer"
      >X / Twitter</a
    >. <br />
    Discussions about Swarm can be found on
    <a
      class="font-semibold underline"
      href="https://www.reddit.com/r/ethswarm/"
      target="_blank"
      rel="noreferrer"
      >Reddit</a
    >. <br />
    All tech support and other channels have moved to
    <a
      class="font-semibold underline"
      href="https://discord.ethswarm.org/"
      target="_blank"
      rel="noreferrer"
      >Discord</a
    >! <br />
    Please feel free to reach out via
    <a class="font-semibold underline" href="mailto:info@ethswarm.org"
      >info@ethswarm.org</a
    >
    <br />
    Join the newsletter!
    <button
      x-on:click="showModal = true; $nextTick(() => $refs.input.focus());"
      class="font-semibold underline"
    >
      Subscribe here</button
    >.
  {{ end }}

</div>
