{{ $lang := .Site.Language.Lang }}

{{ if (eq $lang "foundation") }}
  <a
    href="/foundation"
    class="px-2 py-1 duration-150 rounded-full bg-swarm-blue hover:bg-swarm-blue-hover"
  >
    Foundation
  </a>
{{ end }}

{{ if (eq $lang "hive") }}
  <a
    href="/hive"
    class="px-2 py-1 duration-150 rounded-full bg-swarm-yellow hover:bg-swarm-yellow-hover"
  >
    Swarm Hive
  </a>
{{ end }}

{{ if (eq $lang "wam") }}
  <a
    href="/wam"
    class="px-2 py-1 duration-150 rounded-full bg-swarm-purple hover:bg-swarm-purple-hover"
  >
    WAM
  </a>
{{ end }}

{{ if (eq $lang "fds") }}
  <a
    href="/fds"
    class="px-2 py-1 duration-150 rounded-full bg-swarm-green hover:bg-swarm-green-hover"
  >
    FDS
  </a>
{{ end }}
