{{ $lang := .Site.Language.Lang }}

{{ if (eq $lang "foundation") }}
  <a
    href="/foundation"
    class="bg-swarm-blue hover:bg-swarm-blue-hover rounded-full px-2 py-1 duration-150"
  >
    Foundation
  </a>
{{ end }}

{{ if (eq $lang "hive") }}
  <a
    href="/hive"
    class="bg-swarm-yellow hover:bg-swarm-yellow-hover rounded-full px-2 py-1 duration-150"
  >
    Swarm Hive
  </a>
{{ end }}

{{ if (eq $lang "wam") }}
  <a
    href="/wam"
    class="bg-swarm-purple hover:bg-swarm-purple-hover rounded-full px-2 py-1 duration-150"
  >
    WAM
  </a>
{{ end }}

{{ if (eq $lang "fds") }}
  <a
    href="/fds"
    class="bg-swarm-green hover:bg-swarm-green-hover rounded-full px-2 py-1 duration-150"
  >
    FDS
  </a>
{{ end }}

{{ if (eq $lang "zh") }}
  <a
    href="/zh"
    class="bg-swarm-yellow hover:bg-swarm-yellow-hover rounded-full px-2 py-1 duration-150"
  >
    ZH
  </a>
{{ end }}
