{{ $type := .Get 0 | default "note" }}
{{ $class := "bg-admonition-note border-admonition-note-border" }}

{{ if eq $type "tip" }}
  {{ $class = "bg-admonition-tip border-admonition-tip-border" }}
{{ else if eq $type "info" }}
  {{ $class = "bg-admonition-info border-admonition-info-border" }}
{{ else if eq $type "warning" }}
  {{ $class = "bg-admonition-warning border-admonition-warning-border" }}
{{ else if eq $type "danger" }}
  {{ $class = "bg-admonition-danger border-admonition-danger-border" }}
{{ end }}

<div
  class="admonition p-7.5 rounded-[4px] font-serif text-lg text-gray-900 text-opacity-80 border-l-8 content {{ $class }}">
  {{ .Inner | markdownify }}
</div>